{
	"useTabs": true,
	"tabWidth": 2,
	"singleQuote": true,
	"semi": false,
	"trailingComma": "es5",
	"printWidth": 80,
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-jsdoc"],
	"pluginSearchDirs": ["."],
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
